@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom-hr {
  border: 0;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), color-stop(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#page__container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.navbar-custom {
  padding: 40px 25px;
  height: 3rem;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-custom-medium-active {
  padding: 10px 25px;
  background: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-active-medium {
  background: #222222;
  padding: 0px 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-active {
  height: 3rem;
  background: #222222;
  padding: 25px 25px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.intro {
  background-image: url("../images/seattle1.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 600px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__container {
  max-width: 350px;
}

.intro__content {
  z-index: 1;
}

.intro__link {
  text-decoration: none;
  font-weight: 700;
  color: white;
  position: relative;
  z-index: 10;
  font-size: 1.2rem;
}

.intro__link:hover {
  color: rgba(255, 255, 255, 0.8);
}

.intro__profile-pic {
  height: 250px;
  border-radius: 5%;
  z-index: 10;
  position: relative;
}

.intro__overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
}

.intro__header {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 300;
  font-size: 4rem;
  position: relative;
  z-index: 10;
}

.intro__description {
  color: white;
  text-align: center;
}

.intro__button {
  position: relative;
  z-index: 10;
  font-weight: 500;
  color: white;
  opacity: 0.95;
  letter-spacing: 1px;
  margin: auto;
  width: 48%;
}

.about {
  margin: 50px;
}

.about__toolkit-container {
  height: 500px;
}

.about__header-container {
  text-align: center;
  margin-bottom: 2rem;
}

.about__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2rem;
}

.about__education-title {
  text-transform: uppercase;
  font-weight: 500;
}

.about__link {
  text-decoration: none;
  color: black;
}

.about__link:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.about__profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.about__profile-pic {
  height: 250px;
  border-radius: 5%;
  z-index: 10;
  position: relative;
}

.about__content {
  line-height: 1.5;
  text-align: center;
}

.about__more-info {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.about__more-info--active {
  opacity: 1;
  visibility: visible;
  height: auto;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.about__button {
  width: 100%;
}

.about__firebase-icon {
  fill: black;
}

.projects {
  padding: 50px;
  text-align: center;
}

.projects__title {
  text-transform: uppercase;
  font-weight: 400;
}

.projects__icons {
  height: 50px;
}

.projects__description {
  margin: 2rem 0;
}

.projects__overlay-container {
  position: relative;
}

.projects__overlay {
  position: absolute;
  background-color: #2f4f4f;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  opacity: 0;
}

.projects__overlay-title {
  padding-top: 1.5rem;
  position: absolute;
  color: white;
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

.projects__overlay-icon {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  color: white;
  font-size: 2.5rem;
}

.projects__overlay-icon--html-weather, .projects__overlay-icon--html-liftweights, .projects__overlay-icon--html-covid {
  top: 85%;
  left: 35%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--css-weather, .projects__overlay-icon--css-liftweights, .projects__overlay-icon--css-covid {
  top: 85%;
  left: 45%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--javascript-weather, .projects__overlay-icon--javascript-liftweights, .projects__overlay-icon--javascript-covid {
  top: 85%;
  left: 55%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--react-weather, .projects__overlay-icon--react-liftweights, .projects__overlay-icon--react-covid {
  top: 85%;
  left: 65%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--node-workout {
  top: 85%;
  left: 70%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--html-companis, .projects__overlay-icon--html-crypto, .projects__overlay-icon--javascript-workout {
  top: 85%;
  left: 40%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--css-companis, .projects__overlay-icon--css-crypto, .projects__overlay-icon--react-workout {
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-icon--wordpress-companis, .projects__overlay-icon--react-crypto, .projects__overlay-icon--node-workout {
  top: 85%;
  left: 60%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
  position: absolute;
  color: white;
  font-size: 1.5rem;
}

.projects__overlay-title:hover {
  text-decoration: none;
  color: white;
}

.projects__overlay:hover {
  opacity: 0.8;
}

.toolkit {
  background-color: #f5f5f5;
  padding: 10px;
  text-align: center;
}

.toolkit__title {
  text-transform: uppercase;
  font-weight: 400;
}

.toolkit__html-icon {
  color: #f06529;
}

.toolkit__css-icon {
  color: #2965f1;
}

.toolkit__js-icon {
  color: #f0db4f;
}

.toolkit__react-icon {
  color: #00d8ff;
}

.toolkit__sass-icon {
  color: #cd6799;
}

.toolkit__firebase-icon {
  margin-left: -15px;
  width: 100px;
}

.toolkit__typescript-icon {
  width: 60px;
}

.toolkit__node-icon {
  color: #3c873a;
}

.toolkit__mongodb-icon {
  margin-left: -12px;
  width: 90px;
}

.toolkit__express-icon {
  width: 120px;
}

.toolkit__bootstrap-icon {
  color: #563d7c;
}

.toolkit__wordpress-icon {
  color: #21759b;
}

.toolkit__html-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__css-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__js-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__react-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__sass-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__firebase-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__typescript-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__node-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__mongodb-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__bootstrap-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__express-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.toolkit__wordpress-icon:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.resume {
  background-image: url("../images/resume.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume__overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  position: absolute;
}

.resume__content {
  z-index: 1;
  text-align: center;
}

.resume__header {
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.improvement {
  background-color: #f5f5f5;
}

.improvement__title {
  text-transform: uppercase;
  font-weight: 400;
}

.improvement__btn {
  width: 100%;
}

.improvement__more-info {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}

.improvement__more-info--active {
  opacity: 1;
  visibility: visible;
  height: auto;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.improvement__unordered-list {
  font-size: 0.9rem;
  padding-left: 1.5rem;
}

.improvement__quote {
  font-size: 0.8rem;
  padding-top: 2rem;
  font-weight: 700;
}

.improvement__quote--author {
  text-align: center;
}

.footer {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  padding-bottom: 2rem;
  font-weight: 300;
}

.footer__container {
  text-align: center;
}

.footer__copyright {
  padding: 2rem;
  text-align: center;
}

.footer__icon--copyright {
  margin-right: 5px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.footer__link:hover {
  color: inherit;
}

.footer__list-item--github:hover {
  color: #6e5494;
}

.footer__list-item--linkedin:hover {
  color: #2867b2;
}

.footer__list-item--facebook:hover {
  color: #4267b2;
}

.footer__list-item--instagram:hover {
  color: #e1306c;
}

.footer__list-item--twitter:hover {
  color: #1da1f2;
}

.footer__tooltip {
  position: relative;
  display: inline-block;
}

.footer__tooltip:hover .footer__tooltip-text {
  visibility: visible;
  opacity: 1;
}

.footer__tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
/*# sourceMappingURL=style.css.map */